html{
    background: #F2F9F2;
    font-family: "Clear Sans", "Helvetica Neue";
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 20px;
    max-width: 29rem;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
}

#title{
    color: #3B4B39;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 20px;
}

.score{
    height: 4rem;
    width: 5rem;
    color: #3B4B39;
    text-align: center;
    background-color: #BDCCB3;
    border-radius: 0.25rem;
    margin-top: 10px;
}

.score-title{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#score-num{
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.message{
    color: #3B4B39;
}

.grid{
    height: 30rem;
    width: 29rem;
    background: #9FB295;
    border: 0.3rem solid #9FB295;
    border-radius: 0.25rem;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid div{
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    color: #afa192;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;  
}

.hr{
    margin-top: 20px;
    background-color: #3B4B39;
}

@media (max-width: 600px) {
    html{
        background: #F2F9F2;
        font-family: "Clear Sans", "Helvetica Neue";
        display: flex;
        justify-content: center;
    }
    
    .container{
        margin-top: 20px;
        max-width: 29rem;
        width: 100%;
    }
    
    .header{
        display: flex;
        justify-content: space-between;
    }
    
    #title{
        color: #3B4B39;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    
    .score{
        height: 3rem;
        width: 4rem;
        color: #3B4B39;
        text-align: center;
        background-color: #BDCCB3;
        border-radius: 0.25rem;
        margin-top: 10px;
    }
    
    .score-title{
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #score-num{
        color: black;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    .grid{
        height: 80vw;
        width: 80vw;
        background: #9FB295;
        border: 0.3rem solid #9FB295;
        border-radius: 5px;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .grid div{
        width: 21%;
        height: 21%;
        margin: 7px;
        border-radius: 3px;
        color: #afa192;
        font-weight: bold;
        text-align: center;
        font-size: 9vw;
        line-height: 1.6;  
    }
    
    .hr{
        margin-top: 20px;
        background-color: #3B4B39;
    }

    .footer{
        height: 80vw;
        width: 80vw;
        font-size: 0.8rem;
    }

    @media (max-width: 450px) {
        .grid{
            height: 88vw;
            width: 88vw;
        }
    }    
}